body {
  background: #6463E7 -webkit-gradient(linear, left top, left bottom, from(#B068E9), to(#6463E7)) no-repeat;
  background: #6463E7 linear-gradient(#B068E9, #6463E7) no-repeat;
  font-family: 'Kumbh Sans', sans-serif;
  color: #1E1F36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  margin: 0;
  padding-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  background: white;
  border-radius: 23px;
  padding: 115px 25px 48px;
  position: relative;
  width: 327px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 545px;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
}

.faqs {
  font-size: 13px;
}

.faq-group {
  padding: 20px 0;
  border-bottom: 1px solid #E8E8EA;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.faq-group:hover .dropdown-button {
  color: #F47B56;
}

.faq-group .dropdown-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq-group .dropdown-button button {
  background-color: transparent;
  border: none;
  text-align: right;
  padding-right: 0;
  cursor: pointer;
}

.faq-group .dropdown-button button img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.faq-group .dropdown-button .question {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.faq-group .dropdown-panel {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden;
  height: 0;
}

.show-answer:hover .dropdown-button {
  color: #000;
}

.show-answer .dropdown-button .question {
  font-weight: 700;
}

.show-answer .dropdown-button button img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.show-answer .dropdown-panel {
  padding-top: 20px;
  height: 40px;
}

.illustration-desktop {
  display: none;
}

.box {
  display: none;
}

.illustration-mobile {
  position: absolute;
  top: -110px;
  left: 15px;
}

.illustration-mobile .shadow {
  position: absolute;
  top: 110px;
  right: 0;
}

@media only screen and (min-width: 940px) {
  body {
    padding: 0;
  }
  .wrapper {
    width: 920px;
    height: 497px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  .illustration-mobile {
    display: none;
  }
  .illustration-desktop {
    display: block;
    position: relative;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    overflow: hidden;
  }
  .illustration-desktop .bg {
    position: absolute;
    left: -350px;
    top: -200px;
    width: 160%;
  }
  .illustration-desktop .main {
    position: absolute;
    left: -100px;
    z-index: 5;
  }
  .box {
    display: block;
    position: absolute;
    z-index: 10;
    top: 125px;
    left: -93px;
  }
  h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    grid-row: 1;
    text-align: left;
    margin-left: 10px;
    margin: 65px 10px 25px;
  }
  .faqs {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    grid-row: 2;
    padding: 0 95px 80px 10px;
  }
  .faq-group button {
    padding-right: 16px;
  }
}
